<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO GOOGLE -->
    <meta name="description" content="Site officiel de DONJUAN JR - musique, vidéos, galerie et actualités">

    <meta name="keywords" content="DONJUAN JR, artiste, musique, clips, vidéos">

    <meta name="author" content="DONJUAN JR">

    <title>DONJUAN JR - Site Officiel</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
    <h1>DONJUAN JR </h1>

    <nav>
        <a href="/">Accueil</a>
        <a href="/bio">Bio</a>
        <a href="/galerie">Galerie</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<section class="hero">

    <div class="hero-content">
        <h2>Bienvenue dans mon univers</h2>

        <p>
            Artiste • Musicien • Manager
        </p>

        <div class="socials">

            <a href="https://www.facebook.com/share/1BAvdvwsex/?mibextid=wwXifr">Facebook</a>
            <a href="https://www.instagram.com/donjuan_jr_official?utm_source=qr">Instagram</a>
            <a href="https://youtube.com/@opera2iedunom?si=GEG858rASrLYpvhR">YouTube</a>
            <a href="https://vm.tiktok.com/ZNRn3Dfe8/">TikTok</a>
            <a href="https://snapchat.com/t/TgMCg85D">Snapchat</a>
            <a href="https://open.spotify.com/artist/4mw06OkKNOXcCrR4UWgqeR?si=6yal1uq8RySHc_4Aq_Km_A">Spotify</a>
        </div>

        <a href="/bio" class="btn">
            Découvrir
        </a>

</section>

<footer>
        <p>© 2026 DONJUAN JR - Site Officiel</p>

</footer>

</body>
</html>
