<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO GOOGLE -->
    <meta name="description" content="Site officiel de DONJUAN JR - musique, vidéos, galerie et actualités">

    <meta name="keywords" content="DONJUAN JR, artiste, musique, clips, vidéos">

    <meta name="author" content="DONJUAN JR">

    <title>DONJUAN JR - Site Officiel</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
    <h1>DONJUAN JR</h1>

    <nav>
        <a href="/">Accueil</a>
        <a href="/bio">Bio</a>
        <a href="/galerie">Galerie</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<section class="bio-section">

    <div class="bio-image">
        <img src="/bio.jpg" alt="Artiste">
    </div>

    <div class="bio-content">
        <h2>🎤PRESS BOOK-Don Juan J-R</h2>
        <p>Nom d'artiste : Don Juan J-R</p>
        <p>Nom civil : ELENGA OPERA</p>
        <p>Nationalité : INTERNATIONAL</p>
        <p>Genre musical : dance hall, afrohouse, drill</p>
        <p>Année de début : 2020</p>
        <p>Basé en : France</p>

        <h2>BIOGRAPHIE</h2>

        <p>
            Don juan J-Rest un artiste congolais originaire de Brazzaville, aujourd'hui installé en France.
            Il faconne un univers hybride entre la rue et la romance, le rap et la house, l'énerge du shatta
            et la poésie urbaine.

            Après une pause de trois ans consacrée à ses études, il signe en 2025 son retour avec un EP
            autoproduit intitulé et "X", mélangeant mélodie, sincérité et rythme.

            Porté par une écriture introspective et allégorique, Don juan J-R
            explore la dualité entre vulnérabilité masculine et loyauté féminine, sur fond de sonorités afro-électro.
            Son style se démarque par une fusion de la musicalité congolaise et de la modernité française, un pont
            entre Brazzaville et Paris.
        </p>

        <h2>DISCOGROQPHIE</h2>

        <P>EP: "X" (2025)
        <ul>1. Bad Girl</ul>
        <ul>2. Bad Girl Remix</ul>
        <ul>3. Venez à bord</ul></P>

        <P>Plateformes: Spotify, YouTube Music</P>
        <P>Statistiques: +20000 streams cumulés(Spotify + Apple Music)</P>

        <h2>INFLUENCES</h2>
        <P>Booba-Kalash-artistes Congolais de Brazzaville-musiques et électro urbaines.</P>

        <h2>PROJETS à venir</h2>
        <p>
        <ol>.Nouveau single en préparation (sortir prévue en 2026).</ol>
        <ol>.Tournée promotionnelle dans des showcases afro-urbains.</ol>
        </p>
        <p>Basé en France</p>

        <div class="stats">

            <div class="card">
                <h3>50K+</h3>
                <span>Fans</span>
            </div>

            <div class="card">
                <h3>120+</h3>
                <span>Performances</span>
            </div>

            <div class="card">
                <h3>15+</h3>
                <span>Projets</span>
            </div>

        </div>

    </div>

</section>

<footer>
    © 2026 DONJUAN JR
</footer>

</body>
</html>